body{
    background-color: #d8ca8d;
}
h1, main{
    text-align: center;
}
h1{
    margin: 20px;
    font-size: 50px;
}
.pando{
    color: #7e1010;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar, .pel{
    background-color: #bea672;
}
.homo{
    margin-left: 25px;
}
.nav-link{
    padding-left: 100px;
}